// colors
$color-red: #FC4747;
$color-dark-blue: #10141E;
$color-greyish-blue: #5A698F;
$color-semi-dark-blue: #161D2F;
$color-white: #FFF;

// fonts
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 18px;
$font-size-xs: 15px;
$font-size-xxs: 13px;
