@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;
@use '../../../sass/function' as func;


.toaster {
    @include mix.flex();
    width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 0;
    background: var.$color-semi-dark-blue;
    
    svg {
        width: 20px;
        height: 20px;
    }

    small {
        color: var.$color-white;
    }

}
