@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;
@use '../../../sass/function' as func;



// .trending-movies {
//     flex-shrink: 0;
//     border-radius: 8px;
//     position: relative;
//     overflow: hidden;

// }

.bookmark-img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: func.addTransparency(var.$color-dark-blue, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;

    &:hover {
        background-color: var.$color-white;
        transition: all 400ms ease-in;
        
        svg path {
            stroke: var.$color-dark-blue;;
            transition: all 400ms ease-in;
        }
    }
}

picture {
    width: fit-content;
    height: fit-content;
    
    img {
        width: 250px;
        aspect-ratio: 3 / 2;
        width: 100%;
        object-fit: cover; 

        // @include mix.breakpoint('large') {
        //     width: 250px;
        // }

    }
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    color: var.$color-white;
    position: absolute;
    bottom: 0;
    margin: 1rem;

    .category-container {
        @include mix.flex(row, center, center, 0.6);
        margin-left: -0.6rem;
    }

    .year, .category, .pg {
        font-size: var.$font-size-bodyS;
    }

    .title {
        font-size: var.$font-size-bodyM;
        grid-column: 1/-1;
    }
    
}

.play-container {
    width: 100%;
    height: 100%;
    background-color: func.addTransparency(var.$color-dark-blue, 30%);
    @include mix.flex(row, center, center);
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;

    &:hover {
        opacity: 1;
    }

    button {
        width: fit-content;
        height: fit-content;
        @include mix.font(var.$font-size-s, 300);
        @include mix.flex(row, center, center);
        border-radius: 30px;
        background-color: func.addTransparency(var.$color-white, 30%);
        padding: 0.5rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
}