@use '../sass/mixins' as mix;
@use '../sass/variables' as var;

app-nav {
    @include mix.flex(row, space-between, center);
    padding: 1rem;
    background-color: var.$color-semi-dark-blue; 

    @include mix.breakpoint('medium') {
        margin: 1rem;
        border-radius: 20px;
    }

    @include mix.breakpoint('large') {
            
            width: 70px;
            flex-direction: column;
            position: fixed;
            margin: 1rem;
            height: 96dvh;
            border-radius: 20px;
    }
}

app-search {
    @include mix.flex(row, flex-start,center);
    padding: 1rem;

    @include mix.breakpoint('large') {
        padding-left: 6.8rem;

    }
    
}