@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;

nav {
    @include mix.flex(row, _, center, 1);


    @include mix.breakpoint('large') {
        flex-direction: column;
        flex-grow: 1;
        margin-top: 1rem;
        
    }

}

.avatar {
    width: 24px;
    
    img {
        width: 100%;
        aspect-ratio: 1;
    }
}

.active-route {
    fill: var.$color-white;
}