@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;
@use '../../../sass/function' as func;

h2 {
    color: var.$color-white;
    margin-bottom: 1rem;
}

.trending-movies-container {
    @include mix.flex(row);
    @include mix.overflow(scroll);
    
    
    .trending-movies {
        flex-shrink: 0;
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        .bookmark-img {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            background: func.addTransparency(var.$color-dark-blue, 20%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        
        picture {
            width: fit-content;
            height: fit-content;
            
            img {
                width: 250px;
                aspect-ratio: 3 / 2;

                // @include mix.breakpoint('large') {
                //     width: 250px;
                // }

            }
        }

        article {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
            color: var.$color-white;
            position: absolute;
            bottom: 0;
            margin-bottom: 1rem;

            .category-container {
                @include mix.flex(row, center, center, 0.6);
                margin-left: -0.6rem;
            }

            .year, .category, .pg {
                font-size: var.$font-size-xxs;
            }

            .title {
                font-size: var.$font-size-xs;
                grid-column: 1/-1;
            }
            
        }
    }
}
