@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;
@use '../../../sass/function' as func;

// h2 {
//     color: var.$color-white;
//     margin-bottom: 1rem;
// }

.trending-movies-container {
    @include mix.flex(row);
    @include mix.overflow(scroll);
    
    
    .trending-movies, app-movie-card {
        flex-shrink: 0;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        width: clamp(180px, 100%, 350px);
    }
}

.movie-list-container {

}

.movies {
    @include mix.flex();
    flex-wrap: wrap;
    justify-content: center;

    app-movie-card {
        @include mix.movie-card(150px);
        width: clamp(180px, 100%, 270px);

        // @include mix.breakpoint('medium') {
        //     // @include mix.movie-card();
        // }

        // @include mix.breakpoint('large') {
        //     @include mix.movie-card(210px);
        // }
        // width: 120px;
        // position: relative;
    }
}
