@use './sass/variables' as var;
@use './sass/mixins' as mix;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    font-family: sans-serif;
    background-color: var.$color-dark-blue;
}

app-root {
    width: 100%;
    height: 100%;
    @include mix.flex(column, _, _, 1);
}

app-movies {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-auto-flow: auto;
    // grid-auto-rows: auto;
    // gap: 1rem;

    @include mix.flex(column);
    padding: 1rem;

    @include mix.breakpoint('large') {
        margin-left: 6rem;
    }
    
}

app-form {
    @include mix.flex(column, flex-start, center, 2);
    width: 100%;
    height: 100dvh;
    background-color: var.$color-dark-blue;
    padding-top: 5rem;
    
    @include mix.breakpoint('large') {
        padding-top: 3rem;

    }
}

button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    @include mix.font();
    color: var.$color-white;
    margin-bottom: 1rem;
}

router-outlet {
    display: none;
}

.hidden {
    display: none;
}
