@use './sass/variables' as var;
@use './sass/mixins' as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    font-family: sans-serif;
    background-color: var.$color-dark-blue;
}

app-root {
    width: 100%;
    height: 100%;
    @include mix.flex(column, _, _, 1);
}

app-movies {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-auto-flow: auto;
    // grid-auto-rows: auto;
    // gap: 1rem;

    @include mix.flex(column);
    padding: 1rem;

    @include mix.breakpoint('large') {
        margin-left: 6rem;
    }
    
}