@use '../../../sass/mixins' as mix;
@use '../../../sass/variables' as var;
@use '../../../sass/function' as func;
@use '../../../sass/loading-spinner' as loading-spinner;

.content {
    width: min(500px, 90%);
    height: fit-content;
    background-color: var.$color-semi-dark-blue;
    border-radius: 10px;
    @include mix.flex(column, _, _, 2);
    padding: 1.5rem;

    form {
        width: 100%;
        @include mix.flex(column, flex-start, flex-start, 2);
        
        div {
            width: 100%;
            height: 50px;

            input {
                width: 100%;
                background-color: transparent;
                border: 1px solid transparent;
                border-bottom: 1px solid var.$color-greyish-blue;
                height: 100%;
                padding: 1rem;
                outline: none;
                @include mix.font(var.$font-size-bodyM);

                &:active, &:hover, &:focus {
                    outline: none;
                    border-bottom: 1px solid var.$color-white;
                }
                
            }
        }

        button {
            width: inherit;
            height: 50px;
            border-radius: 6px;
            background-color: var.$color-red;
            @include mix.font(var.$font-size-bodyM, 300);
            transition: 300ms ease-in-out;
            
            &:hover, &:active {
                background-color: var.$color-white;
                color: var.$color-semi-dark-blue;

            }
        }
    }

    .alternatives {
        @include mix.font(var.$font-size-bodyM, 200);
        text-align: center;
        // color: white;
        
        a {
            color: var.$color-red;
            margin-left: 0.5rem;
        }
    }
}

.error-message {
    color: var.$color-red;
    font-size: var.$font-size-bodyS;
}

.spinner-container {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    @include mix.flex(column, center, center);
    background-color: func.addTransparency(var.$color-dark-blue, 20%);


    .loader {
        @include loading-spinner.spinner();
    }
}
