<div class="logo">
    <img src="../../../assets/svgs/logo.svg" alt="application svg logo">
</div>
<div class="content">
    <h2>{{ isLoginActive ? 'Login' : 'Sign Up' }}</h2>
    <!-- form -->
    <form action="">
        <div class="email">
            <input type="email" placeholder="Email">
        </div>
        <div class="password">
            <input type="password" placeholder="Password">
        </div>
        
        @if (!isLoginActive) {
            <div class="password">
                <input type="password" placeholder="Password">
            </div>
            
        }

        <button type="submit">{{ isLoginActive ? 'Login to your account' : 'Create an account' }}</button>
        
    </form>

    <p class="alternatives">
        Don't have an account? <span>{{ isLoginActive ? 'Sign Up' : 'Login' }}</span>
    </p>
</div>